.about{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #f7f7f7;
}

.heading{
  text-decoration: underline;
}

.sub-text{
  padding: 20px;
  text-align: justify;
}
