.about{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #f7f7f7;
}

.heading{
  text-decoration: underline;
  padding: 20px;
}

.sub-text{
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
}
