.about{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7f7;
  flex-grow: 0;
}

.heading{
  display: flex;
  text-decoration: underline;
  padding-bottom: 30px;
}

.sub-text{
  width: 50%;
  text-align: justify;
}

@media only screen
and (min-width: 320px)
and (max-width: 480px){
  .about{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f7f7f7;
    flex-grow: 0;
  }

  .sub-text{
    width: 75%;
    text-align: justify;
  }


}
