.experience{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 0;
}

.headingE{
  padding-top: 80px;
  padding-bottom: 30px;
}

.exp-details{
  padding-top: 30px;
  padding-left:  50px;
  padding-right: 50px;
}

.exp{
  padding-bottom: 20px;
}
