.experience{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 0;
}

.headingE{
  padding-top: 80px;
}

.exp-cards{
  padding: 10px;
}

.exp-card{
  padding-bottom: 10px;
}
