.home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #000;
  margin-top: 20vh;
}

h1{
  font: 400%;
  margin-bottom: 0px;
}

.logo{
  color: #000;
  padding: 5px;
}

.logo:hover{
  color: #0abf53;
}

.description{
  text-align: center;
}

.highlight {
  color: #0abf53
}

a:visited, a:link, a:active {
  text-decoration: none;
  color: #5e5e5e;
}

a:hover{
  color: #0abf53;
}

.roundimg {
  border-radius: 50%;
  max-width: 200px;
}
