.home{
  height:100%;
  width:100%;
}

.home-text{
  position: absolute;
  top: 50%;
  left: 50%;

  margin: -70px 0 0 -170px;
}

.logo{
  width: 30px;
  position: absolute;
  cursor: pointer;
}

.github{
  left: 50%;
  top: 51%;
  margin: 5px 0 0 -100px;
}

.linkedin{
  left: 60%;
  top: 51%;
  margin: 5px 0 0 -100px;
}

.twitter{
  left: 70%;
  top: 51%;
  margin: 5px 0 0 -100px;
}

.fade{
  animation-name: fade-in;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from{ opacity: 0 }
  to{ opacity: 100 }
}
