body, html{
  height:100%;
  width:100%;
  padding:0px;
  margin:0px;
}

.intro{
  height:100%;
  width:100%;
}

.intro-text{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
